<html>
    <head>
        <style>
            #wrapper {
                width: 70%;
                margin: 20px auto;
            }

            #buildings {
                display: flex;
                justify-content: space-between;
            }

            .building{
                border: solid black 1px;
                padding: 20px;
                text-align: center;
                width: 18%;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">

            <p>Your gold: <span id="yourgold"></span></p>

            <div id="buildings">

                <div class="building" id="farm">
                    <h2>Farm</h2>
                    <p>(earns 10-20 golds)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="farm">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>

                <div class="building" id="cave">
                    <h2>Cave</h2>
                    <p>(earns 5-10 golds)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="cave">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>

                <div class="building" id="house">
                    <h2>House</h2>
                    <p>(earns 2-5 golds)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>

                <div class="building" id="casino">
                    <h2>Casino</h2>
                    <p>(earns/takes 0-50 golds)</p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>

            </div>

            <p>Activities:</p>
            <textarea rows=10 cols=100 id="activities"></textarea>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            
        </script>
    </body>
</html>